body {
  color: #212529;
  font-family: "Montserrat", sans-serif;
}
.btn-xl {
  padding: 1.25rem 1.5rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  width: 80%;
}
.btn-social {
  background-color: #5e35b1;
  color: #fff;
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.btn-outline{
  border: 2px solid #5e35b1;
  color: #ffffff;
  font-size: 1rem;
  width: 100%;
}
.btn-outline:hover{
    background-color: #5e35b1;
    color: #fff;
}
.bg-grey {
  background-color: #f5f5f5;
}
.navbar {
  color: #9197a0;
  font-size: 18px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
.nav-link:hover {
  color: black;
}
.navbar .navbar-nav li.active > a {
    text-decoration: none;
    border-bottom:  2px solid black;
}
#navBar .navbar-brand {
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#navBar .navbar-brand img {
  height: 1.5rem;
}
#navbarCollapse {
  transition: 0.5s;
}
header.masthead {
  padding-top: 9rem;
  padding-bottom: 6rem;
  color: #fff;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
header.masthead .masthead-heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 25px;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
.page-section {
  padding: 5rem 0;
}
.page-section h2.section-heading,
.page-section .section-heading.h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", serif;
  margin-bottom: 4rem;
}
.fa-circle {
  color: #5e35b1;
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #e9ecef;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}

.timeline > li > .timeline-image {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #e9ecef;
  z-index: 100;
  border-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  font-weight: 700;
}
.timeline .timeline-heading h4.subheading {
  margin-top: 0;
  font-weight: 300;
}
@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-image {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
#projects .project-item .project-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#projects .project-item .project-link {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(94, 53, 177, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#projects
  .project-item
  .project-link {
  font-size: 1.25rem;
  color: white;
}
#projects .project-item .project-link:hover {
  opacity: 1;
}
#projects .project-item .project-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#projects .project-item .project-caption .project-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}
#projects .project-item .project-caption .project-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", serif;
}
.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}  
.project-container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #141c3a;
  }
  
  .content {
    color: #fff;
    text-decoration: none;
  }

  .project-container:hover .project-overlay{
    opacity: 1;
  }
  
  .project-content {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
 .about-heading{
     font-weight: 400;
     text-align: left;
     padding: 0;
 }
#about em{
    color: #5e35b1;
}
